/* "Snow" - a css for Alpine Configuration Framework - 
 * N. Angelacos 2008 - GPL2 */

/* 
 * -----------------------------------------------------------------------
 * Debug Definitons
 * -----------------------------------------------------------------------
 */

/* 
 * -----------------------------------------------------------------------
 * General Definitons
 * -----------------------------------------------------------------------
 */

.hide	{
	display:		none;
	}

a, a:visited {
	text-decoration:	underline;
	color:			#072966;
	}

a:hover	{
	background-color:	#4871b3;
	color:			#fff;
	}


body 	{
	font-family:	Georgia, Arial, Geneva, Helvetica,  sans-serif;
	font-size:	100%;
	width:		100%;
	}


.leader {
	float:		left;
	clear:		both;
	}

.tailer {
	float:		left;
	clear:		both;
	}
/*--------------------------------------------------------------------------------*/
#page 	{ 
	position:	relative;
	}

/*--------------------------------------------------------------------------------*/
#header {
	width:		100%;
	background:	url("alpine.jpg") #fff no-repeat 50%;
	height:		100px;
	font-family:	Arial, sans-serif;
	}


#header .mute {
	display:	inline;
	float:		right;
	font-size:      80%;
	margin:		8px 32px 0 0;
	font-weight:	normal;
	}

#header .leader {
	display:	none;
	}

#header .tailer {
	clear: 		both;
	display:	none;
	}


/*--------------------------------------------------------------------------------*/

#logo {
 	display:	none;
	}

#logo .leader {
	}

#logo .tailer {
	}

#logo h1 {
	}

#logo p {
	}

/* The Nav bar */ 

#nav {
	float: left;
	width:   20%;
	margin-top:	2em;
	
	/* font-family:	Arial, sans-serif; */
	}	

#nav ul {
	padding:	0 0 1em 1em;
	margin:		1em 0 1em 0;
	}

#nav li { /* all list items */
	background: 	url("navtop.png") #eee left top no-repeat;
	margin:		0em 0 01em 0em;
	padding:	25px 0 0 1em;
	}

#nav  li ul { /* second-level lists - hidden */
	background: 	url("navbottom.png") #eee  no-repeat left bottom;
	padding:	0 0 25px 1em;
	margin:    	0 0 0 -1em;	
	}

#nav .selected {
	background: #fff;
	color: #888;
	}

#nav li ul ul { /* third-and-above-level lists */
		}

#nav li ul li {
	margin:		0;
	padding:	0;
	line-height:    1.5;
	border:		none;
	font-size:	85%;
	padding-left:	1em;
	background:	transparent;
	}

/*
#nav li:hover ul ul {
	}
*/

#nav a {
	}	

#nav .selected a {
	color: #442;
	text-decoration: none;
	}

/*--------------------------------------------------------------------------------*/
#main 	{ 
	background: 	url("ul.png") repeat-x -20px -20px;
	clear:		both;
	
	padding:	1px;
	}

/*--------------------------------------------------------------------------------*/
#postnav {
	display:	none;
	}


/*--------------------------------------------------------------------------------*/
#subnav {
	width:	75%;	
	float:	left;
	margin-top:	1.5em;
	padding:	0;
	border-bottom:	1px #ccc solid; 
	}

#subnav ul {
	display: inline;
	}
	
#subnav a {
	background:	url("litetab.png") top right no-repeat #eee;
	display:	block;
	padding:	4px 14px 4px 0px; 
	}

#subnav li {                         
        display:        inline;                              
        float:          left; 
        background:     url("litetab.png") top left no-repeat #eee;
        margin-left:	14px;
	padding:	0px 0px 0px 14px; 
	margin-bottom:  -1px;
       }
       
          
#subnav a:hover {
	color:		#343434;
	}

#subnav a.selected {
	background:		url("darktab.png") right top no-repeat #343434;
	color:			#ffc;
	text-decoration:	none;
	}

#subnav li.selected {
	background:	url("darktab.png") left top no-repeat #343434;
	padding-bottom:	2px;
	margin-bottom:	-2px;
	}


#subnav .tailer {
	display:	block;
	height:		1px;
	width:		1px;
	}


/*--------------------------------------------------------------------------------*/

#content {
	float:		left;
	line-height:	2;
	padding:	2em;
	margin:		0;
	width:		70%;
	/* border-top:	1px solid #ccc;
	*/	
	}
	
#content p {
	clear:		both;
	padding:	1em 1em 1em 1em;
	}

/*
#content h1 {
	font-size:	150%;
	width:		100%;
	clear:		both;
	color:		#446;
	text-align:	right;
	border-top:	1px solid #aa9;
	border-bottom:	1px solid #aa9;
	}

*/

#content h1,h2 {
	background: 	url("ul.png") no-repeat #666;
	font-size:	120%;
	color:		#ffc;
	float:		left;
	width:		98%;
	padding-left:	2%;
	margin-top:	1em; 
	clear:		both;
	}


#content h3 {
	clear:		both;
	}

#content dl {
	margin:		0;
	padding:	1em 0 25px 0;
	width:		100%;
	float:		left;
	background:	url("lr.png") #eee no-repeat right bottom;
	font-size: 80%;
	}
	

#content dt {
	padding-left: 	1em;
	margin-top:	1em;
	float:		left;
	width:		25%;
	clear:		both;
	} 


#content dd {
	float: left;
	margin-top:	1em;
	}


#footer {
	clear: 		both;
	border-top:	1px solid #d6d6d6;
	position:		relative;
	padding-top:	5px;
	margin-top:	15px;
	margin-bottom:	10px;
	font-size:	10px;
	text-align:	left;
	color: 		#aaa;
}

/*---------------------------------------------------------------------------*/

input, password, select, textarea {
	font-family:	Georgia, Arial, Geneva, Helvetica,  sans-serif;
	decoration:	none;
	color:		#226;
	padding:	2px;
	background:	transparent;
	border:		none;
	}

input.text, input.password {
	border:	none;
	border-bottom:		1px dotted #226;
	}


textarea {
	border:		1px dotted #226;
	font-family:	Courier-New, Courier, fixed;
	font-size:	95%;
	width:		100%;
	margin:		2px;
	height:		14em;
	border:		none;
	}

input.submit {
	border:		2px outset #226;
	color:		#446;
	}

select:focus, input:focus, textarea:focus {
	background:	#444;
	color:		#ffc;
	}
	
	
pre {
	line-height:	100%;
	display: 	block;
	font-size:	90%;
	clear:		both;
	font-family:	Courier-New, Courier, sans-serif;
	}
	
	
table { 
	display: 	block;
	clear:		left;
	background:	transparent;
	
	}
	
		
