/* A css for Alpine Configuration Framework (Mika Havela 2011) */

/*----------------------------------------------------------------------------------
 * GENERAL
 *----------------------------------------------------------------------------------
 */
a {
	text-decoration:	none;
	color:			#072966;
}
a:visited {
	color:			#072966;
}
a:hover {
	text-decoration:	underline;
}

.hide {
	display:		none;
}
input {
	border:			1px solid #ccc;
}
hr {
	background-color:	white;
	height: 		3px;
}
.error {
	font-weight: 		bold;
	font-style:		italic;
	color: 			#f33;
}
input.error,select.error,textarea.error {
	font-weight: 		normal;
	font-style:		normal;
}

input.checkbox {
border: none;
}

.mute {
	color: 			#777;
}
.header {
	background: 		#eee;
	border-bottom:		3px double #999;
	font-weight: 		bold;
	vertical-align:		bottom;
}
pre {
	font-family:		monospace;
	font-size:		10pt;
	padding:		5px;
}
input[type=text][disabled] {
	color:			#755;
	background:		#eee;
}
input.text[readonly],textarea[readonly] {
	border:			none;
	font-weight:		bold;
	background:		transparent;
}
/*----------------------------------------------------------------------------------
 * BODY & PAGE
 *----------------------------------------------------------------------------------
 */

body {
	background-image:	url("images/page-base.png");
	font-family: 		Liberation Sans, Helvetica, Geneva, Arial, SunSans-Regular, sans-serif, Verdana, "Trebuchet MS", SunSans-
}


/*----------------------------------------------------------------------------------
 * PAGE > HEADER
 *----------------------------------------------------------------------------------
 */
#header {
	height: 		25px;
	margin: 		0px 0px 0px 0px;
	padding: 		0px 0px 0px 0px;
}
#header p {
	float: 			right;
	font-size:		14px;
	padding: 		0px 0px 0px 0px;
	margin-right: 		10px;
	margin-top: 		0px;
}
#header .tailer {
}

/*----------------------------------------------------------------------------------
 * PAGE > HEADER > LOGO
 *----------------------------------------------------------------------------------
 */
#logo h1 {
	display:		none;
}
/* hostname */
#logo p {
	float:			left;
	margin:			1px 1px 1px 10px;
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN
 *----------------------------------------------------------------------------------
 */

#main {
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN > NAV
 *----------------------------------------------------------------------------------
*/

#nav {
	float:			left;
	height:			100%;
	min-height:		150px;
	width: 			150px;
	margin: 		-20px 10px 10px 0px;
	padding: 		0px 10px 0px 10px;
	background-image: 	url("images/alogo.png");
	background-repeat:	no-repeat;
	background-position:	center top; 

}
#nav ul {
	margin-top:		160px;
	list-style-type: 	none;
}
#nav ul li {
	margin-top:		20px;
	color: 			#555555;
	font-size: 		12px;
	font-family:		verdana,arial;
	white-space: 		nowrap;
	overflow: 		hidden;
}
#nav ul li ul {
	margin-top:		6px;
	padding-top:		6px;
	background-image: 	none;
	background-image: 	url("images/portal-break.png");
	background-repeat:	no-repeat;
	background-position:	center top; 
}
#nav ul li ul li {
	margin:			0px 0px 0px 0px;
	padding: 		0px 0px 0px 0px;
	height: 		21px;
	font-weight: 		normal;
	font-size:		10pt;
	white-space: 		nowrap;
	overflow: 		hidden;
	background-image: 	none;



}
#nav ul li ul li.selected {
	font-weight:		bold;
}
#nav ul li ul li a {
	clear:			right;
	display:		list-item;
}
#nav ul li ul li a:hover {
	background-image: 	none;
}
#nav ul li ul li.selected a:hover {
	background-image: 	none;
}


/*----------------------------------------------------------------------------------
 * PAGE > MAIN > POSTNAV
 *----------------------------------------------------------------------------------
 */
#postnav {
	display:		none;
}
#postnav h2 {
}
#postnav p {
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN > SUBNAV
 *----------------------------------------------------------------------------------
 */
#subnav {
	position:		relative;
}

#subnav ul {
	margin:			0px 0px 6px 170px;
	//margin:		0px 0px 5px 170px;
	padding:		0px 0px 0px 10px;
}

#subnav ul li {
	display:		inline;
	margin:			0px 0px 0px -10px;
	padding:		4px 15px 4px 10px;
	background-image: 	url("images/tab-break.png");
	background-repeat: 	repeat-x;
	border-bottom: 		1px solid #bbddff;
	border-left: 		1px solid #bbddff;
	border-right: 		1px solid #bbddff;
}


#subnav a {
	margin:			0px 0px 0px 0px;
	padding:		0px 0px 0px 0px;
}

#subnav a.selected {
}

#subnav ul li.selected {
	border-bottom: 		1px solid #ffffff;
	background-image: 	url("images/tab-current-fade.png");
	background-repeat: 	repeat-x;
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN > CONTENT
 *----------------------------------------------------------------------------------
 */
#content {
	background: 		#ffffff;
	margin-left: 		170px;
	padding: 		15px;
	padding-top: 		0px;
	border:			1px solid #bbddff;
}
#content h1,h2,h3,h4,h5 { 
	margin-top:		20px;
	margin-left:		0px;
	margin-bottom:		5px;
	padding-left:		0px;
	height: 		25px;
	border-bottom:		1px solid #aaaaaa;

}
#content h1 { 
	font-size: 		22px;
}
#content h2 { 
	padding-left: 		10px;
	height: 		21px;
	font-size: 		18px;
}
#content h3 { 
	padding-left: 		20px;
	height: 		20px;
	font-size: 		17px;
}
#content .descr {
}

#content .value {
}
#content dl {
	margin:			0px;
	padding:		0px;
	margin-bottom:		10px;
	margin-top:		2px;
	width:			98%;
	display:		block;
	clear:			right;
}
#content dt {
	min-height:		8px;
	width: 			220px;
	font-size: 		12px;
	text-align:		left;
	font-weight:		bold;
	margin-top:		1px;
	margin-left: 		0px;
	padding-left:		5px;
	padding-top:		5px;
	padding-bottom:		5px;
}
#content dd {
	margin-top:		-17px;
	font-size: 		12px;
	margin-left: 		230px;
	padding-bottom:		5px;
}
#content .tailer {
	clear: 			both;
	margin-left: 		0px;
}
#content .submit {
	width: 			100px;
	border-right:		1px solid #cacaca;
	border-bottom:		1px solid #cacaca;
	background:		#eee;
}
#content textarea {
	border-right: 		1px solid #cacaca;
	border-bottom: 		1px solid #cacaca;
}
#content p,input.text,select,textarea,input.password {
	width:			100%;
}
#content table {
	width:			100%;
	background-image:	url("images/page-base.png");
	border-bottom:		2px solid #e6EEEE;

}
#content input.short {
	width:			200px;
	margin-right:		10px;
	display:		inline;
}

#content textarea {
	height:			300px;
}
#content dd textarea {
	height:			100px;
}
#content form select.radio {
	border:			none;
}
#content table td {
	padding-right:		10px;
	white-space:		normal;
	border:		1px solid #ffffff;
}


/*----------------------------------------------------------------------------------
 * PAGE > FOOTER
 *----------------------------------------------------------------------------------
 */

#footer {
	margin-top:		5px;
	margin-bottom:		5px;
	margin-left: 		180px;
	margin-right: 		10px;
	padding:		5px;
	clear: both;
	text-align:		center; 
	font-size:		10px;
	color: 			#777777;
}

/*----------------------------------------------------------------------------------
 * JQUERY TABLESORTER
 *----------------------------------------------------------------------------------
 */

/* tables */
table.tablesorter {
	font-family:		arial;
	margin:			10px 0pt 15px;
	font-size:		8pt;
	width: 			100%;
	text-align: 		left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: 	#e6EEEE;
	border: 		1px solid #FFF;
	font-size: 		8pt;
	padding: 		4px;
}
table.tablesorter thead tr .header {
	background-image: 	url(../static/bg.gif);
	background-repeat: 	no-repeat;
	background-position: 	center right;
	cursor: 		pointer;
}
table.tablesorter tbody td {
	padding: 		4px;
	vertical-align: 	top;
}
table.tablesorter tbody tr.odd td {
	background-color:	#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: 	url(../static/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: 	url(../static/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: 	#8dbdd8;
}

